#menuLabel {
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, midnightblue, 2, 0.2, 0, 0);
    -fx-font-size: 35;
}

#activeLabel {
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, midnightblue, 2, 0.2, 0, 0);
    -fx-font-size: 25;
}

#coinsA {
    -fx-text-fill: black;
    -fx-effect: dropshadow(gaussian, black, 1, 1, 0, 0);
    -fx-font-size: 30;
}