@font-face {
    font-family: 'Unicorn Scribbles';
    src: url("../fonts/Unicorn_Scribbles.ttf");
}

@font-face {
    font-family: 'Newborough';
    src: url("../fonts/NEWBOROU.ttf");
}

.root {
    -fx-background-color: #111111;
}

.label {
    -fx-text-fill: white;
}

#titleLabel {
    -fx-font-family: 'Newborough';
    -fx-font-size: 48;
}

#menuLabel {
    -fx-font-family: 'Unicorn Scribbles';
    -fx-font-size: 22;
}

.button {
    -fx-font-family: 'Unicorn Scribbles';
    -fx-font-size: 20;

    -fx-background-image: url("../ui/buttons/stoneButtonInsetReady.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-cursor: hand;
    -fx-opacity: 1;
}

.button:hover {
    -fx-font-family: 'Unicorn Scribbles';
    -fx-font-size: 20;

    -fx-background-image: url("../ui/buttons/stoneButtonInsetHovered.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-cursor: hand;
    -fx-opacity: 1;
}

.button:disabled {
    -fx-font-family: 'Unicorn Scribbles';
    -fx-font-size: 20;

    -fx-background-image: url("../ui/buttons/stoneButtonInsetDisabled.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-cursor: hand;
    -fx-opacity: 1;
}