@font-face {
    font-family: 'Unicorn Scribbles';
    src: url("../fonts/Unicorn_Scribbles.ttf");
}

@font-face {
    font-family: 'Newborough';
    src: url("../fonts/NEWBOROU.ttf");
}

.root {
    -fx-background-color: #111111;
}

.label {
    -fx-text-fill: white;
}

#titleLabel {
    -fx-font-family: 'Newborough';
    -fx-font-size: 48;
}

#menuLabel {
    -fx-font-family: 'Unicorn Scribbles';
    -fx-font-size: 22;
}